@using MicroFrontEndMVC.Models
@model SubscriptionViewModel


<script>
    window.sessionStorage.setItem("agentname", "@Model.AgentId");
</script>


<!-- Left sidebar -->
<aside class="holy-grail-left">
    <div id="sidemenu"></div>
</aside>

<!-- Main content -->
<article class="holy-grail-middle">
    
    @foreach (var sub in Model.Subscriptions.Where(x => x.ComponentType == "component").ToList())
    {
        <div id="@sub.SubscriptionCssId" class="@sub.SubscriptionCssClass" data-menu-name="@sub.SubscriptionName" style="display: none">
        </div>
    }
    
</article>

<!-- Right sidebar -->
<article class="holy-grail-right"></article>


@foreach (var sub in Model.Subscriptions.Where(x => x.ComponentType == "overlay").ToList())
{
    <div id="@sub.SubscriptionCssId" class="@sub.SubscriptionCssClass" data-menu-name="@sub.SubscriptionName">
    </div>
}

